#nextant_saving_settings, #nextant_saving_files,
	#nextant_saving_files_filters, #nextant_saving_bookmarks,
	#nextant_saving_check, #nextant_saving_status {
	font-weight: bolder;
	font-size: 12px;
	margin-left: 30px;
	font-style: italic;
	filter: alpha(opacity = 50);
	opacity: 0.5;
}

#nextant-display {
	width: 450px;
	height: 250px;
	position: relative;
	border-radius: 20px;
	padding: 10px;
}

#nextant-filters {
	width: 450px;
	height: 250px;
	border-radius: 20px;
	position: absolute;
	margin-top: 20px;
	padding: 10px;
	top: 400px;
}

DIV.solr_filters_item {
	float: left;
	width: 200px;
	font-style: italic;
	font-size: 12px;
}

DIV.solr_filters_item_large {
	float: left;
	width: 400px;
	font-style: italic;
	font-size: 12px;
}

DIV.solr_filters_title {
	font-weight: bold;
	font-size: 13px;
}

DIV.nextant-box {
	border: solid 1px #f3f3f3;
	box-shadow: 2px 2px 5px #0000004D;
	background: #f8f8f8;
}

DIV.nextant-display-line {
	margin: 0 auto;
	position: absolute;
}

IMG.nextant_display_icon {
	position: absolute;
	width: 25px;
	height: 25px;
}

DIV.nextant_display_text {
	top: 3px;
	left: 40px;
	position: absolute;
	font-style: italic;
}

TD.nextant_admin_left {
	width: 200px;
	text-align: right;
	font-weight: bold;
	padding-right: 15px;
}

TR.nextant_admin_head, TR.nextant_admin_head:hover {
	margin-top: 12px;
	background: #ddd;
}

TD.nextant_admin_head {
	font-weight: bold;
	text-align: right;
	padding: 4px;
	padding-right: 30px;
	font-style: italic;
}

#solr_switch_filters, #solr_switch_filters:hover {
	cursor: pointer;
	font-size: 12px;
}

#solr_switch_filters:hover {
	text-decoration: underline;
}