/**
 * SPDX-FileCopyrightText: 2016 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
 
.fnshidden {
	display: none;
}

EM {
	font-size: 12px;
}

.div-table {
	display: table;
	width: auto;
	border-spacing: 5px;
}

.div-table-row {
	display: table-row;
	width: auto;
	height: 65px;
	clear: both;
}

.div-table-col {
	float: left;
	display: table-column;
	width: 300px;
}

.div-table-col-left {
	width: 350px;
	margin-right: 35px;
	text-align: right;
}

.hsub {
	margin-left: 20px;
}

SELECT, INPUT {
	width: 350px;
}

INPUT.small {
	width: 150px;
}