@CHARSET "ISO-8859-1";

.searchbox input[type="search"]:valid, .searchbox input[type="search"]:focus
	{
	width: 300px;
}

#nextantList {
	width: 100%;
}

DIV.nextant_entry {
	height: 50px;
	width: 100%;
	background: #f00;
	margin: 2px;
}

DIV.nextant_details {
	width: 22px;
	background-size: 22px;
	display: inline-block;
	height: 22px;
	margin-left: -8px;
	margin-top: -8px;
	cursor: pointer;
	float: left;
	position: absolute;
	z-index: 4;
	opacity: 0.5;
	filter: alpha(opacity = 50)
}

A.nextant_file {
	cursor: default !important;
	position: relative;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	height: 50px;
	line-height: 50px;
	padding: 0;
	left: 50px;
	margin-right: 50px;
}

SPAN.nextant_line {
	position: absolute;
	left: 55px;
	padding: 0;
	overflow: hidden;
	padding-right: 20px;
	max-width: 800px;
	text-overflow: ellipsis;
}

SPAN.nextant_line1 {
	top: -15px;
	font-style: italic;
	font-weight: bold;
}

SPAN.nextant_line2 {
	top: 0px;
	font-style: italic;
	font-size: 12px;
	left: 70px;
	color: #9e9e9e;
}

SPAN.nextant_line3 {
	font-style: italic;
	font-size: 12px;
	color: #9e9e9e;
	left: 70px;
	top: 15px;
	padding-right: 20px;
}

SPAN.nextant_hl {
	color: #000;
	font-weight: bold;
}

#nextantSugg_list {
	z-index: 200;
	margin-top: 18px;
	padding: 3px;
	border: solid 1px #0000004D;
	background: #fffc;
	width: 360px;
}

DIV.nextantSugg_item {
	border-top: dashed 1px #0003;
}

DIV.nextantSugg_firstitem {
	border-top: 0px;
}