/**
 * SPDX-FileCopyrightText: 2016 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
 
#search_header {
	width: 100%;
	position: absolute;
}

#search_header div {
	left: 0;
	right: 0;
	top: 0;
	margin: 5px;
}

#search_input {
	width: 100%;
}

#search_error {
	text-align: center;
	color: #f00;
	margin: 20px;
}

.search_checkbox {
	margin-right: 10px !important;
	opacity: 0.8;
}

.search_checkbox_sub {
	margin-right: 10px !important;
	opacity: 0.65;
}

.search_input_sub {
	margin-right: 10px !important;
	opacity: 0.65;
}

.search_tags_sub {
	margin-right: 10px !important;
	width: 200px;
	opacity: 0.65;
}

.search_input_sub_small {
	width: 70px;
}

.search_icon {
	background-image: url('/apps/fulltextsearch/img/fulltextsearch_black.svg');
}

A.icon-fts {
	text-indent: 25px;
}

a.ulsub {
	padding: 0px 12px 0 12px !important;
}

/**

*/
#search_result {
}

.provider_header {
	margin-bottom: 35px;
}

.provider_result {
}

#noresult {
	font-style: italic;
	position: absolute;
	left: 100px;
}

