
.provider_result {
	font-style: italic;
}

.result_entry_default {
	height: 50px;
	width: 100%;
	display: inline-block;
	background: #eeeeee;
	padding-bottom: 2px;
}

.result_entry_left {
	float: left;
	position: relative;
	top: 50%;
	margin-left: 10px;
	transform: perspective(1px) translateY(-50%);
}

.result_entry_right {
	float: right;
	margin-right: 10px;
	position: relative;
	top: 50%;
	transform: perspective(1px) translateY(-50%);
}

.result_entry_default #title {
	font-weight: bold;
	height: 14px;
}

.result_entry_default #line1, .result_entry_default #line2 {
	color: #333333;
	font-size: 11px;
	height: 12px;
	font-style: italic;
}

.result_entry_default #score {
	font-weight: bold;
	font-style: italic;
}

.next_search_div {
	position: relative;
	width: 250px;
	height: 36px;
	margin-right: 20px;
}

.icon-fullnextsearch, .icon-close-fullnextsearch {
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}

#next_search_input {
	background: #fffc;
	width: 212px;
	height: 30px;
	margin: 2px !important;
}


