.provider_name {
	font-size: 18px;
	font-weight: bold;
}

.provider_result {
	font-style: italic;
}

.result_entry_default {
	height: 50px;
	width: 100%;
	display: inline-block;
	background: #eeeeee;
	padding-bottom: 2px;
}

.result_entry_left {
	float: left;
	position: relative;
	top: 50%;
	margin-left: 10px;
	transform: perspective(1px) translateY(-50%);
}

.result_entry_right {
	float: right;
	margin-right: 10px;
	position: relative;
	top: 50%;
	transform: perspective(1px) translateY(-50%);
}

.result_entry_default #title {
	font-weight: bold;
	height: 14px;
}

.result_entry_default #line1, .result_entry_default #line2 {
	color: #333333;
	font-size: 11px;
	height: 12px;
	font-style: italic;
}

.result_entry_default #score {
	font-weight: bold;
	font-style: italic;
}

