<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 bootstrap="bootstrap.php"
		 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd">
	<testsuite name="Nextcloud - Fulltextsearch App Tests">
		<directory suffix="Test.php">.</directory>
		<exclude>./stubs/</exclude>
	</testsuite>
	<source>
		<include>
			<directory suffix=".php">../lib</directory>
		</include>
	</source>
	<logging/>
</phpunit>
